[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
hyperopt = "*"
mlflow = "*"
apache-airflow = "*"
fastapi = {extras = ["standard"], version = "*"}
pytest = "*"
mlops-student-performance = {file = ".", editable = true}
pytest-asyncio = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
