[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
mlflow = "*"
fastapi = {extras = ["standard"], version = "*"}
python-logstash = "*"
asyncio = "*"
pytest-asyncio = "*"
pytest = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
